@model AdminModel
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>
<div>
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Question" asp-action="Create">Create Question</a>
</div>

