@model UserModel
@{
    ViewData["Title"] = "User Panel";
}

<h1>User Panel</h1>
<div>
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Question" asp-action="Index"> View Questions</a>
</div>

